<h1>This Works</h1>

{% schema %}
  {
    "name": "Liquid Reference",
    "class": "Reference",
    "settings": [
      {
        "id": "liquid-reference",
        "type": "text",
        "label": "A reference for Shopify"
      }
    ],
    "presets": [
      {
        "name": "Liquid Reference",
        "category": "Reference"
      }
    ]
  }
{% endschema %}